.totalHeader {
  padding-bottom: 25px;
}

.inputField {
  position: absolute;
  width: 200px;
  bottom: 25px;
  left: 20px;
}

.warning {
  color: red;
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  left: 33px;
}
